<h3><%= @user.full_name %></h3>
<br />
Телефон: <%= @user.phone %> <br />
Email: <%= @user.email %> <br />
<br />
<%= link_to 'Редактировать', edit_user_registration_path(@user), :class => 'button button-green' %>
